{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid">
		{{form_start(formValid)}}
		<div class="register-form">
			<div class="row">
				<h2 style="color:coral;">Valider un article</h2>
				<div class="col-md-4 col-sm-4 col-lg-4">
					<label for="title">TITRE</label>
					{{form_widget(formValid.title, {
                'attr' : {"class" : "form-control"},
				'label' : false
				})
			    }}
				</div>
			</div>


			<div class="row">
				<div class="col-md-8 col-sm-8 col-lg-8">

					<label for="content">CONTENU</label>
					{{form_widget(formValid.content,{
                'attr' : {"class" : "form-control"},
				'label' : false
					 })
					 }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-sm-8 col-lg-8">

					<label for="content">COMMENTAIRES</label>
					{{form_widget(formValid.signals,{
                'attr' : {"class" : "form-control"},
				'label' : false
					 })
					 }}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
					{{ form_widget(formValid.publish, {
				'attr' : {"class" : "btn btn-default logbutton"},
				'label': 'Publier article' }) }}
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
					{{ form_widget(formValid.return, {
				'attr' : {"class" : "btn btn-default logbutton"},
				'label': 'Renvoyer article' }) }}
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
					{{ form_widget(formValid.delete, {
				'attr' : {"class" : "btn btn-default regbutton"},
				'label': 'Supprimer article' }) }}
				</div>
			</div>
		</div>
		{{form_end(formValid)}}
	</div>
{% endblock %}
