{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid">
		{{form_start(formUser)}}
		<div class="register-form">
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-lg-4">
					<img class="media-object" src="{{asset('uploads/avatar/' ~ user.avatar)}}" alt="profil" width="80px" height="100px">

				</div>
				<div class="col-8">
					<h2 style="color:coral;">Votre Profil</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-4 col-lg-4">

					<label for="pseudo">PSEUDO</label>
					{{form_row(formUser.pseudo, {
                'attr' : {"class" : "form-control"},
				'label' : false
				})
			    }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-lg-4">
					<label for="email">EMAIL</label>
					{{form_row(formUser.mail, {
                'attr' : {"class" : "form-control"},
				'label' : false
				})
			    }}
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="password">PASSWORD</label>
				{{form_row(formUser.password, {
                'attr' : {"class" : "form-control"},
				'label' : false
				})
			    }}
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-lg-4">
					<label for="avatar">AVATAR</label>
					{{form_row(formUser.imgFile, {
                'attr' : {"class" : "form-control"},
				'label' : false
				})
			    }}
				</div>
			</div>
			{# <div class=" row"><div class="col-md-6 col-sm-6 col-lg-6"><label for="role">Choisissez votre rôle</label>
																												<select name="role" class="form-select" id="role-select"><?php foreach ($allroles as $allrole) : ?><option value="<?= $allrole['id_role'] ?>"><?= $allrole['nom_role'] ?></option><?php endforeach ?></select></div> 
																																</div> #}
			<hr>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
					<button class="btn btn-default logbutton" type="submit" name="submit">Mettre à jour</button>
				</div>
			</div>
			{{form_end(formUser)}}
		</div>
	{% endblock %}
